body {
  background-color: #e5e5e5;
  padding-top: 56px;
}

.hero-section.home {
  background: url("/public/images/hero.jpg") center/cover no-repeat;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section.ambient {
  background: url("/public/images/heroAmbient.jpg") center/cover no-repeat;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section.electronic {
  background: url("/public/images/heroElectronic.jpg") center/cover no-repeat;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section.hiphop {
  background: url("/public/images/heroHiphop.jpg") center/cover no-repeat;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section.jazz {
  background: url("/public/images/heroJazz.jpg") center/cover no-repeat;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}